In [ ]:
import pandas as pd
df = pd.read_csv('spotify.csv')

df.head()

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27800 entries, 0 to 27799
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             27800 non-null  object
 1   position         27800 non-null  int64
 2   song             27800 non-null  object
 3   artist           27800 non-null  object
 4   popularity       27800 non-null  int64
 5   duration_ms      27800 non-null  int64
 6   album_type       27800 non-null  object
 7   total_tracks     27800 non-null  int64
 8   release_date     27800 non-null  object
 9   is_explicit      27800 non-null  bool
 10  album_cover_url  27800 non-null  object
dtypes: bool(1), int64(4), object(6)
memory usage: 2.1+ MB

In [4]:
df.describe()

           position    popularity    duration_ms  total_tracks
count  27800.000000  27800.000000   27800.000000  27800.000000
mean      25.500000     89.621331  196898.287338     10.160468
std       14.431129      9.969284   41821.134307      8.282919
min        1.000000      0.000000   41487.000000      1.000000
25%       13.000000     88.000000  171291.000000      1.000000
50%       25.500000     91.000000  191700.000000     11.000000
75%       38.000000     94.000000  222369.000000     15.000000
max       50.000000    100.000000  456933.000000    119.000000

In [7]:
df.describe(include='all')

,date,position,song,artist,popularity,duration_ms,album_type,total_tracks,release_date,is_explicit,album_cover_url
count,27800,27800.000000,27800,27800,27800.000000,27800.000000,27800,27800.000000,27800,27800,27800
unique,556,NaN,794,343,NaN,NaN,3,NaN,341,2,566
top,5/18/2023,NaN,I Wanna Be Yours,Taylor Swift,NaN,NaN,album,NaN,9/15/2023,False,https://i.scdn.co/image/ab67616d0000b27371d62e...
freq,50,NaN,548,1871,NaN,NaN,17261,NaN,856,16628,631
mean,NaN,25.500000,NaN,NaN,89.621331,196898.287338,NaN,10.160468,NaN,NaN,NaN
std,NaN,14.431129,NaN,NaN,9.969284,41821.134307,NaN,8.282919,NaN,NaN,NaN
min,NaN,1.000000,NaN,NaN,0.000000,41487.000000,NaN,1.000000,NaN,NaN,NaN
25%,NaN,13.000000,NaN,NaN,88.000000,171291.000000,NaN,1.000000,NaN,NaN,NaN
50%,NaN,25.500000,NaN,NaN,91.000000,191700.000000,NaN,11.000000,NaN,NaN,NaN
75%,NaN,38.000000,NaN,NaN,94.000000,222369.000000,NaN,15.000000,NaN,NaN,NaN
max,NaN,50.000000,NaN,NaN,100.000000,456933.000000,NaN,119.000000,NaN,NaN,NaN

In [8]:
df.isnull().sum()

date               0
position           0
song               0
artist             0
popularity         0
duration_ms        0
album_type         0
total_tracks       0
release_date       0
is_explicit        0
album_cover_url    0
dtype: int64

In [14]:
df.count()

date               27800
position           27800
song               27800
artist             27800
popularity         27800
duration_ms        27800
album_type         27800
total_tracks       27800
release_date       27800
is_explicit        27800
album_cover_url    27800
dtype: int64

In [ ]:
total_songs = data.shape[0]
print(total_songs)